# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.exe
*.pdb

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Windows specific
**/windows/flutter/generated_plugin_registrant.
**/windows/flutter/generated_plugins.cmake
**/windows/**/Generated.props
**/windows/**/Generated.targets
**/windows/**/cmakefiles/
**/windows/**/x64/
**/windows/**/Debug/
**/windows/**/Release/
**/windows/**/Runner.sln
**/windows/**/Runner.vcxproj.user

# Temporary files
*.temp
*.tmp
.*.swp
*~

# Environment and secrets
.env*
*.env
api_keys.json

# IDE-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Dependencies
/windows/flutter/ephemeral/
/android/app/debug
/android/app/profile
/android/app/release
